@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.choice1 {

  

  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;

  margin-left: 1.5rem; /* ml-6 */
  margin-right: 1.5rem; /* mr-6 */
  padding-top: 2.5rem; /* pt-10 */
  padding-left: 0.75rem; /* pl-3 */
  padding-right: 0.75rem; /* pr-3 */
  padding-bottom: 1.75rem; /* pb-7 */
  height: 6rem; /* h-24 */
  border-bottom-left-radius: 9999px; /* rounded-b-full (fully rounded bottom corners) */
  border-bottom-right-radius: 9999px; /* rounded-b-full (fully rounded bottom corners) */
  cursor: pointer; /* cursor-pointer */
  transition: all 0.3s ease-in-out; /* เพิ่มการเปลี่ยนแปลงอย่างช้าๆ */
}

.choice1:hover {
  background: linear-gradient(rgb(58, 35, 56), rgb(0, 0, 0)) padding-box,
    linear-gradient(to top, rgb(255, 193, 233), #bb0396) border-box;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transform: scale(1.1);
}

.choice2 {
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;

  margin-left: 1.5rem; /* ml-6 */
  margin-right: 1.5rem; /* mr-6 */
  padding-top: 2.5rem; /* pt-10 */
  padding-left: 0.75rem; /* pl-3 */
  padding-right: 0.75rem; /* pr-3 */
  padding-bottom: 1.75rem; /* pb-7 */
  height: 7rem; /* h-28 */
  border-bottom-left-radius: 9999px; /* rounded-b-full */
  border-bottom-right-radius: 9999px; /* rounded-b-full */
  cursor: pointer; /* cursor-pointer */

  transition: all 0.3s ease-in-out; /* เพิ่มการเปลี่ยนแปลงอย่างช้าๆ */

}

.choice2:hover {
  background: linear-gradient(rgb(58, 35, 56), rgb(0, 0, 0)) padding-box,
    linear-gradient(to top, rgb(255, 193, 233), #bb0396) border-box;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transform: scale(1.1);
}

.chouce_Default {
  background: linear-gradient(rgb(58, 35, 56), rgb(0, 0, 0)) padding-box,
    linear-gradient(to top, rgb(255, 193, 233), #bb0396) border-box;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;

  margin-left: 1.5rem; /* ml-6 */
  margin-right: 1.5rem; /* mr-6 */
  padding-top: 2.5rem; /* pt-10 */
  padding-left: 0.75rem; /* pl-3 */
  padding-right: 0.75rem; /* pr-3 */
  padding-bottom: 1.75rem; /* pb-7 */
  height: 6rem; /* h-28 */
  border-bottom-left-radius: 9999px; /* rounded-b-full */
  border-bottom-right-radius: 9999px; /* rounded-b-full */
  cursor: pointer; /* cursor-pointer */
}
