@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Righteous";
  src: url("/fonts/Righteous-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--background);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  font-weight: 400;
  font-style: normal;
}

.choice1 {
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;

  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 1.75rem;
  height: 6rem;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.choice1:hover {
  background: linear-gradient(rgb(58, 35, 56), rgb(0, 0, 0)) padding-box,
    linear-gradient(to top, rgb(255, 193, 233), rgb(182, 15, 149)) border-box;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transform: scale(1.1);
}

.choice2 {
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;

  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 1.75rem;
  height: 7rem;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.choice2:hover {
  background: linear-gradient(rgb(58, 35, 56), rgb(0, 0, 0)) padding-box,
    linear-gradient(to top, rgb(255, 193, 233), #bb0396) border-box;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transform: scale(1.1);
}

.chouce_Default {
  background: linear-gradient(rgb(58, 35, 56), rgb(0, 0, 0)) padding-box,
    linear-gradient(to top, rgb(255, 193, 233), #bb0396) border-box;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;

  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 1.75rem;
  height: 6rem;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  cursor: pointer;
}

.TextHi {
  font-family: "Righteous", sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  padding-left: 2%;
}

.nameText {
  font-family: "Righteous", sans-serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;

  background-image: linear-gradient(to right, #d804ac, #ec0000);
  color: transparent;
  background-clip: text;
}

.description {
  width: 90%;
  font-weight: bold;
}

.contact {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  background-image: linear-gradient(to right, #8f0974, black);
  border-radius: 10px;
  padding: 3px 10px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.contact:hover {
  transform: scale(1.1);
}
